/*
for all files, include the swup.js script
for all files, include script,js
in script.js, just include const swup = new Swup()

everything that we want to animate should be assigned a class
specifically, that class MUST start with .transition

the transition classes begin with the default setting
the transition time is also defined

to declare transformation of properties that are leaving,
use the class html.is-leaving .[property class] {}
put into this class what the html should transition to while it's leaving
after it's left the .is-leaving class will automatically be removed



 */


 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 .index {
   width: 100%;
   height: 100vh;
   background-color: black;
   animation: transition-to-white 1s ease forwards 4.5s;
 }

 .home {
   animation: home-animation 5s linear 1s forward;
 }

 @keyframes home-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
 }

 #logo {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: fill 1.5s ease forwards 3s;
 }

 #logo path:nth-child(1) {
   stroke-dasharray: 800;
   stroke-dashoffset: 800;
   animation: line-anim 4.1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;

 }
 #logo path:nth-child(2) {
   stroke-dasharray: 800;
   stroke-dashoffset: 800;
   animation: line-anim 3.8s cubic-bezier(0.25, 0.1, 0.25, 1) forwards 0.3s;


 }
 #logo path:nth-child(3) {
   stroke-dasharray: 800;
   stroke-dashoffset: 800;
   animation: line-anim 3.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards 0.6s;


 }
 #logo path:nth-child(4) {
   stroke-dasharray: 800;
   stroke-dashoffset: 800;
   animation: line-anim 3.2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards 0.9s;


 }
 #logo path:nth-child(5) {
   stroke-dasharray: 800;
   stroke-dashoffset: 800;
   animation: line-anim 2.9s cubic-bezier(0.25, 0.1, 0.25, 1) forwards 1.2s;


 }
 #logo path:nth-child(6) {
   stroke-dasharray: 800;
   stroke-dashoffset: 800;
   animation: line-anim 2.6s cubic-bezier(0.25, 0.1, 0.25, 1) forwards 1.5s;


 }
 #logo path:nth-child(7) {
   stroke-dasharray: 800;
   stroke-dashoffset: 800;
   animation: line-anim 2.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards 1.8s;


 }
 #logo path:nth-child(8) {
   stroke-dasharray: 800;
   stroke-dashoffset: 800;
   animation: line-anim 2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards 2.1s;


 }

 @keyframes line-anim {

   to {
     stroke-dashoffset: 0;
   }

 }

 @keyframes fill {
   from {
     fill: transparent;
   }

   to {
     fill: white;
   }
 }

 @keyframes transition-to-white {
   from {
     background-color: black;
   }

   to {
     background-color: white;
   }
 }

#linkedin {
  animation: linkedin-bounce 2s infinite ease alternate;
}

@keyframes linkedin-bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-30px);
  }
}


#github {
  animation: github-bounce 2s infinite ease alternate;
}

@keyframes github-bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-25px);
  }
}


#email {
  animation: email-bounce 2s infinite ease alternate;
}

@keyframes email-bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-20px);
  }
}
.swup-transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .swup-transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .swup-transition-fade {
  opacity: 0;
  transform: translateX(0);
}


.swup-transition-swipe {
  transition: 500ms;
  transform: translateY(0);
}

html.is-animating .swup-transition-swipe {
  opacity: 1;
  transform: translateY(100px);
}
