body {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.6s cubic-bezier(0.22, 1, 0.36, 1.2);
}

h1 {
    text-align: center;
    font-family: "Apple Chancery", cursive;
    font-size: 5rem;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(120%);
    background-color: #fff;
    width: 1500px;
    max-width: 80%;
    height: 80%;
    overflow-y: auto;
    z-index: 10;
    /*opacity: 0;*/
    transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1.2);
}

.modal.modal-open {
    /*opacity: 1;*/
    transform: translate(-50%, -50%) translateY(0);
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

#modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

#close-modal {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
}

#modal-content {
    padding: 1rem;
}

.modal-open {
    overflow: hidden;
}

.modal-open .modal{
    display: block;
}

#modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.9s cubic-bezier(0.22, 0.61, 0.36, 1);
    pointer-events: none;
}

.modal-open #modal-background {
    opacity: 1;
    transition: 0.9s cubic-bezier(0.22, 0.61, 0.36, 1);
    pointer-events: all ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lift-button {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    font-family: 'Menlo', serif;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-decoration: none;
    border: 3px solid #000;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    min-width: 30rem;
}

.lift-button:hover {
    background-color: #000;
    color: #fff;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    transition: 0.3s ease-in-out;
}

iframe {
    height: 50%;
    width: 50%;
    position: fixed;
    display: inline;
    controls: "true";
    /*transform: translateY(%);*/
}