body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  font-family: "Maven Pro", sans-serif;
  overflow: hidden; /* Hide any content that overflows the cell */
  transition: transform 0.3s;
  overflow: hidden; /* Hide any content that overflows the cell */
  transition: transform 0.3s, filter 0.3s; /* Add transition properties */
}

.grid-cell:hover {
  transform: scale(1.05); /* Zoom in the image on hover */
  filter: brightness(0.5); /* Darken the image by 50% on hover */
}

.grid-cell .year {
  font-size: 300%; /* Set the font size to half of the parent's width */
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(120%);
    background-color: #fff;
    width: 1500px;
    max-width: 80%;
    height: 80%;
    overflow-y: auto;
    z-index: 10;
    /*opacity: 0;*/
    transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1.2);
}

.modal.modal-open {
    /*opacity: 1;*/
    transform: translate(-50%, -50%) translateY(0);
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

#modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

#close-modal {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
}

#modal-content {
    padding: 0;
}

.modal-open {
    overflow: hidden;
}

.modal-open .modal{
    display: block;
}

#modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.9s cubic-bezier(0.22, 0.61, 0.36, 1);
    pointer-events: none;
}

.modal-open #modal-background {
    opacity: 1;
    transition: 0.9s cubic-bezier(0.22, 0.61, 0.36, 1);
    pointer-events: all ;
}
